body{
    background: #2F2FA2;
    color:white;
}
/* JumboTron */
.jumbo {
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('../images/jumbo.jpeg');
    background-size: cover;
}

.jumbo h1 {
    color: #F64c72;
    background-color: #242582;
}

.jumbo p{
    color: #99738E;
    background-color: #2F2FA2;
}

/* Border Decoration */
.edges{
    border: black solid 1px;
}
.rounded{
    border-radius: 8px !important;
}

/* Accent colors for button and background */
.accent{
    background: #99738E;
}
.accent-text{
    color: #242582;
}

.secondary-accent{
    color: white;
    background: #553D67;
}

.main-button{
    color: #F64c72;
    background: grey;
}

/* Space-evenly formatting */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

/* Footer */
.footer{
    background: white;
    color: black;
}