/*
    The styles for all pages on the site.
    Author: Blezyl Santos
    File: style.css
    Date: 10/20/2021
*/
@font-face {
    font-family: 'Poppins', sans-serif;
}
html, body{
    font-family: 'Poppins', sans-serif;
    background: white;
    color:black;
    height: 100%;
    margin: 0;
    padding: 0;
}
.content{
    min-height: 90%;
}
/* JumboTron */
.jumbo {
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('../images/jumbo.jpeg');
    background-size: cover;
}

.jumbo h1 {
    color: #76323F;
    background-color: #D7CEC7;
}

.jumbo p{
    color: #76323F;
    background-color: #D7CEC7;
}

/* Border Decoration */
.edges{
    border: black solid 1px;
}
.rounded{
    border-radius: 8px !important;
}

/* Accent colors for button and background */
.accent{
    background: #C09F80;
}
.accent-text{
    color: #565656;
}

.secondary-accent{
    color: #565656;
    background: #C09F80;
}

.main-button{
    color: white;
    background: #76323F;
}

/* Space-evenly formatting */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

/* Footer */
.footer{
    background: #76323F;
    color: white;
    bottom: 0;
    position: relative;
}

/* Table */
table{
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
}

thead{
    font-size: large;
    background: #76323F;
    color: white;
}

tr:nth-child(even){
    background: #ffe2c7;
}

td{
    padding: 15px 30px 15px 30px;
}

