<!--
     Add Activity Form page that allows user to add or update an activity

     Author: Blezyl Santos
     File: add-activity.html
     Date: 11/24/2021

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/parts :: meta('Add a Activity')"></head>

<body>
<header th:replace="fragments/parts :: navbar"></header>
<div class="container p-5 content">
    <h3 th:text="${title}"></h3>
    <form th:action="@{${redirectTo}}" th:object="${activity}" method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" th:field="*{address}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" th:field="*{city}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" th:field="*{state}">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" th:field="*{postalCode}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputStars">Stars</label>
            <input type="text" class="form-control" id="inputStars" th:field="*{stars}">
        </div>
        <button type="submit" class="btn main-button w-100 py-4" th:text="${title}"></button>
    </form>
</div>
<footer th:replace="fragments/parts :: bottom"></footer>
</body>
</html>