<!--
     element page that shows a specific page with all its contents

     Author: Blezyl Santos
     File: elementActivity.html
     Date: 11/24/2021

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/parts :: meta(${specificRest.getName()})"></head>

<body>
<header th:replace="fragments/parts :: navbar"></header>
<div class="container p-5 content">
    <h1 th:text="${specificRest.getName()}"></h1>
    <hr>
    <div class="row">

        <div class="col-4">
            <h5 th:text="'Address: ' + ${specificRest.getAddress()} + ', ' + ${specificRest.getCity()} + ' ' +
                    ${specificRest.getState()} + ', ' + ${specificRest.getPostalCode()}"></h5>
            <h5 th:text="'Rating: ' + ${specificRest.getStars()} "></h5>
        </div>
        <div class="col-8">Picture of Activity</div>
    </div>
    <div class="row m-2">
        <div class="col p-2">
            <a href="../bored/random" th:href="@{/bored/random}"><button type="button" class="btn main-button w-100 py-4">Find a Random Thing To Do</button></a>
        </div>
        <div class="col p-2">
            <a href="../bored/activities/summary" th:href="@{/bored/activities/summary}"><button type="button" class="btn main-button w-100 py-4">All Activities</button></a>
        </div>
    </div>
</div>
<footer th:replace="fragments/parts :: bottom"></footer>

</body>
</html>