<!--
     Register page for new users to be able to sign up

     Author: Blezyl Santos
     File: register.html
     Date: 12/2/2021

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/parts :: meta('Register')"></head>

<body>
<div class="container p-5 content">
    <h3>Register</h3>
    <form th:action="@{${'/bored/register'}}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="inputFName">First Name</label>
            <input type="text" class="form-control" id="inputFName" th:field="*{fname}">
        </div>
        <div class="form-group">
            <label for="inputLName">Last Name</label>
            <input type="text" class="form-control" id="inputLName" th:field="*{lname}">
        </div>
        <div class="form-group">
            <label for="inputName">Username</label>
            <input type="text" class="form-control" id="inputName" th:field="*{username}">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{password}">
        </div>
        <button type="submit" class="btn main-button w-100 py-4">Register!</button>
    </form>
</div>
<footer th:replace="fragments/parts :: bottom"></footer>
</body>
</html>