<!--
     Summary page

     Author: Blezyl Santos
     File: summary.html
     Date: 10/22/2021

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/parts :: meta('All Restaurants')"></head>

<body>
<header th:replace="fragments/parts :: navbar"></header>
<div class="container content">
    <h1>All Restaurants</h1>
    <table>
        <thead>
            <tr>
                <td>Restaurant</td>
                <td>Address</td>
                <td>City</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rest: ${restaurants}">
                <td>
                    <a th:text="${rest.name}" th:href="@{'../bored/restaurant/' + ${rest.name}}" class="link-danger text-decoration-none"></a>
                </td>
                <td th:text="${rest.address}"></td>
                <td th:text="${rest.city}"></td>
                <td th:text="${rest.stars}"></td>
            </tr>
        </tbody>
    </table>
    <div class="row m-2">
        <div class="col p-2">
            <a href="../bored/restaurant/random" th:href="@{/bored/restaurant/random}"><button type="button" class="btn main-button w-100 py-4">Find a Random Restaurant</button></a>
        </div>
        <div class="col p-2">
            <a href="/../bored" th:href="@{/../bored}"><button type="button" class="btn main-button w-100 py-4">Go back home</button></a>
        </div>
    </div>
</div>
<footer th:replace="fragments/parts :: bottom"></footer>

</body>
</html>